{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Business Finder Admin</h1>
    <a href="{{ path('admin/new') }}" class="btn btn-sm btn-primary">Add Business</a>
    <br>
    <br>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Telefone</th>
            <th scope="col">Endereço</th>
        </tr>
        </thead>
        <tbody>
        {% for row in business %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.phone }}</td>
                <td>{{ row.address }} {{ row.city }}/{{ row.state }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
